<md-toolbar class="ac-table-toolbar md-default">
    <div class="md-toolbar-tools">
    	<md-button class="md-icon-button" aria-label="Settings" ng-click="search();">
			<md-tooltip md-direction="bottom">写新笔记</md-tooltip>
			<md-icon class="material-icons">edit</md-icon>
		</md-button>
    	<span flex></span>
		<md-menu md-position-mode="target-right target" md-offset="0 27">
			<md-button aria-label="" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<md-tooltip md-direction="bottom">筛选</md-tooltip>
				<md-icon class="material-icons">filter_list</md-icon>
			</md-button>
			<md-menu-content width="2" >
		    	<md-menu-item>
		    		<md-button>
		    			<div flex layout="row">
			               <p flex>全部</p>
			               <md-icon md-menu-align-target style="margin: auto 3px auto 0;" class="material-icons">star_border</md-icon>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
		    	<md-menu-item>
		    		<md-button>
		    			<div flex layout="row">
			               <p flex>加星</p>
			               <md-icon md-menu-align-target style="margin: auto 3px auto 0;color: #FFA600;" class="material-icons">star</md-icon>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
		    	<md-menu-item>
		    		<md-button>
		    			<div flex layout="row">
			               <p flex>原创</p>
			               <md-icon md-menu-align-target style="margin: auto 3px auto 0;color: #FFA600;" class="material-icons">star</md-icon>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
		    	<md-menu-item>
		    		<md-button>
		    			<div flex layout="row">
			               <p flex>转载</p>
			               <md-icon md-menu-align-target style="margin: auto 3px auto 0;color: #FFA600;" class="material-icons">star</md-icon>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-button class="md-icon-button" aria-label="Settings" ng-click="search();">
			<md-tooltip md-direction="bottom">刷新</md-tooltip>
			<md-icon class="material-icons ac_color_gold">autorenew</md-icon>
		</md-button>
    </div>
  </md-toolbar>
<md-content style="padding:5px;background-color:transparent" layout="row" layout-xs="column" layout-align="center top">
	<div ng-repeat="(key, items) in techs" flex="50" flex-xs="100" >
		<md-card ng-repeat="item in items">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline" style="cursor: pointer;" ng-click="showDetail(item)">{{item.title}}</span>
				</md-card-title-text>
	        </md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<span class="md-subhead">2016-07-01</span>
				<span ng-if="item.createType==1" class="md-subhead acticle_create_my">原创</span>
				<span ng-if="item.createType==0" class="md-subhead acticle_create_other">转载</span>
				<md-card-icon-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" aria-label="Favorite">
						<md-icon class="material-icons">star_border</md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Share">
						<md-icon class="material-icons">share</md-icon>
					</md-button>
				</md-card-icon-actions>
			</md-card-actions>
	        <md-card-content>
	        	{{item.content}}
	        </md-card-content>
		</md-card>
	</div>
</md-content>
