<md-dialog aria-label="数据表" ng-class="{'md-dialog-fullscreen-lg': !$root.customFullscreen}">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	      <h2>数据表</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="cancel()">
			<i class="material-icons">close</i>
	      </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content layout-padding>
	<form class="form-horizontal" role="form" novalidate name="myForm">
	<div cg-busy="{promise:promise,templateUrl:'',message:'正在提交...',backdrop:true,delay:0,minDuration:0}">
		<md-input-container class="md-block">
			<input name="name" ng-model="dataTable.name" type="text" placeholder="英文表名" required ng-pattern="/^[0-9a-zA-Z_]*$/">
			<div ng-messages="myForm.name.$error" role="alert" multiple md-auto-hide="false">
	        	<div ng-message="required">该项必填</div>
	        	<div ng-message="pattern">只能输入英文和数字</div>
	        </div>
	    </md-input-container>
	    <md-input-container class="md-block">
			<input type="text" class="form-control" name="remark" ng-model="dataTable.remark" placeholder="说明" required>
			<div ng-messages="myForm.remark.$error" role="alert" md-auto-hide="false">
	        	<div ng-message="required">该项必填</div>
	        </div>
	    </md-input-container>
	    <md-input-container class="md-block">
          <label>编码</label>
          <input readonly="readonly" value="utf-8">
        </md-input-container>
        <md-content class="md-whiteframe-6dp" ng-cloak>
        	<!-- <md-subheader class="md-no-sticky">字段列表</md-subheader> -->
        	<md-toolbar>
				<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
					<span>数据表</span>					
				</div>
			</md-toolbar>
        	<div style="margin-top: 10px;" layout="row" layout-wrap ng-repeat="item in dataTable.columns track by $index">
        		<md-input-container flex-gt-xs=20 flex-xs=100>
					<input type="text" class="form-control" ng-model="item.name" placeholder="英文名称" required>
			    </md-input-container>
			    <md-input-container flex-gt-xs=20 flex-xs=100>
					<input type="text" class="form-control" ng-model="item.nameCN" placeholder="中文名称">
			    </md-input-container>
			    <md-input-container flex-gt-xs=20 flex-xs=100>
			    	<label>类型</label>
			    	<md-select ng-model="item.type" required>
						<md-option ng-repeat="item in [{name:'整数', value:'INT'},{name:'字符串', value:'VARCHAR'},{name:'时间', value:'DATETIME'},{name:'小数', value:'DOUBLE'},{name:'BIGINT', value:'BIGINT'},{name:'TINYINT', value:'TINYINT'},{name:'BIT', value:'BIT'},{name:'TEXT', value:'TEXT'},{name:'LONGTEXT', value:'LONGTEXT'},{name:'LONGVARCHAR', value:'LONGVARCHAR'}]" value="{{item.value}}">
						  {{item.name}}
						</md-option>
			        </md-select>
			    </md-input-container>
			    <md-input-container flex-gt-xs=10 flex-xs=100>
			    	<label>长度</label>
			    	<input type="text" class="form-control" ng-model="item.length">
			    </md-input-container>
			    <md-input-container flex-gt-xs=10 flex-xs=30>
			    	<md-checkbox ng-model="item.isPK" ng-true-value="1" ng-false-value="0">PK</md-checkbox>
			    </md-input-container>
			    <md-input-container flex-gt-xs=10 flex-xs=30>
			    	<md-checkbox ng-model="item.isAI"  ng-true-value="1" ng-false-value="0">AI</md-checkbox>
			    </md-input-container>
		    	<md-button style="padding:0px;" flex-gt-xs flex-xs=30 class="md-icon-button" aria-label="delete" ng-click="deleteColumn($index)">
		          <md-icon class="material-icons">delete</md-icon>
		        </md-button>
        	</div>
        	<md-button class="md-raised md-primary" ng-click="addColumn()">增加字段</md-button>
        </md-content>
    </div>
	</form>		
	</md-dialog-content>
	<md-dialog-actions  layout layout-align="center">
    	<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="myForm.$invalid">保存</md-button>
		<md-button class="md-raised md-default" ng-click="cancel()">取消</md-button>
    </md-dialog-actions>
</md-dialog>
