<md-dialog aria-label="解析SQL文本">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	      <h2>解析SQL文本</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="cancel()">
			<i class="material-icons">close</i>
	      </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content layout-padding>
   		<div cg-busy="{promise:promise,templateUrl:'',message:'正在提交...',backdrop:true,delay:0,minDuration:0}">
   			<div layout layout-xs="column">
				<p style="font-size: 16px;font-weight: bold;">可以通过如下命令在mysql客户端中查看表结构：</p>
				<p class="form-control-static">show create table 表名;</p>
			</div>
			<div flex ui-ace="{mode:'scheme'}" ng-model="sql" style="height: 300px;width: 600px;"></div>
   		</div>
   	</md-dialog-content>
   	<md-dialog-actions layout="row">
    	<md-button class="md-raised md-primary" ng-click="save()">确认</md-button>
		<md-button class="md-raised md-default" ng-click="cancel()">取消</md-button>
    </md-dialog-actions>
</md-dialog>