<div style="background-color: #fff;margin:  8px 8px 3px 8px;box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12); ">
	<div layout layout-wrap style="background-color: #fafafa;padding:4px 4px 4px 10px;" class="md-whiteframe-3dp" layout-align="left center">
		<span style="font-weight: bold;">{{projectName}} --> </span>
		<span ng-repeat-start="item in nodePath track by $index">
			<a ng-if="!item.leaf" ng-click="navTreeParentNode(item, $index)" style="margin: 0 5px 0 5px;color:#4078c0;font-weight: bold;cursor: pointer;">{{item.fileName}}</a>
			<span ng-if="item.leaf">{{item.fileName}}</span>
		</span>
		<span ng-repeat-end ng-if="!$last" style="margin: 0 5px 0 5px;">/</span>
		
		<span flex></span>
		
		<md-button class="md-icon-button" ng-click="openProject()">
			<md-tooltip md-direction="bottom">打开项目配置</md-tooltip>
        	<md-icon class="material-icons">launch</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="previewProject()">
        	<md-tooltip md-direction="bottom">项目预览</md-tooltip>
        	<md-icon class="material-icons">visibility</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="downloadProject()">
        	<md-tooltip md-direction="bottom">代码下载</md-tooltip>
        	<md-icon class="material-icons">file_download</md-icon>
        </md-button>
	</div>
	
	<div ng-switch on="navView" style="position: relative;" >
		<div ng-switch-when="fileList" class="codeNavFade" style="float: left;width: 100%">
			<ul class="docs-menu" style="margin-top: 0px;">
				<li ng-repeat="item in showNode.children | orderBy:'leaf'" ng-click="navTreeClick(item, showNode)" style="border: 0px;">
					<md-button style="text-transform: none;" ng-click="focusSection()">
		        		<div flex layout="row" layout-align="left center">
		        			<i class="material-icons">{{item.leaf?'insert_drive_file':'folder'}}</i>&nbsp;&nbsp;&nbsp;{{item.fileName}}
		        		</div>
				    </md-button>
				    <md-divider></md-divider>
				</li>
			</ul>
		</div>
		
		<div ng-switch-when="fileContent" class="codeNavFade" ui-ace="aceEditorOptions" ng-model="vieFileContent" ng-style="aceheight"></div>
	</div>
</div>