<div cg-busy="{promise:promise,message:'正在加载...',backdrop:true,delay:0,minDuration:300}">
<div layout style="background-color: #fafafa" class="md-whiteframe-3dp">
	<h2 flex layout-padding style="margin: auto;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: normal;letter-spacing: -1px;" ng-cloak>{{projectInfo.name + '【' + projectInfo.remark +  '】' | xsTxtLimit: 10}}</h2>
	<div layout>
		<md-button class="md-icon-button" ng-click="previewProject(projectInfo.idCode)">
        	<md-tooltip md-direction="bottom">项目预览</md-tooltip>
        	<md-icon class="material-icons">visibility</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="previewProjectCode(projectInfo.idCode)">
        	<md-tooltip md-direction="bottom">代码查看</md-tooltip>
        	<md-icon class="material-icons">code</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="downloadProject(projectInfo.idCode)">
        	<md-tooltip md-direction="bottom">代码下载</md-tooltip>
        	<md-icon class="material-icons">file_download</md-icon>
        </md-button>
	</div>
</div>
<div flex>
	<div class="md-whiteframe-6dp" style="margin: 10px">
		<md-toolbar style="background-color:#fafafa;color:#222;border-bottom: 1px rgba(0,0,0,.12) solid;">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<span>数据表</span>
				<md-button class="md-icon-button" aria-label="Settings" ng-click="hideDataTable = !hideDataTable">
					<md-icon class="material-icons"  style="color:#222;">{{ hideDataTable ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content flex ng-show="!hideDataTable">
			<div layout="row">
				<md-button class="md-raised md-primary" ng-click="editDataTable(item.id);">新建数据表</md-button>
				<md-button class="md-raised md-primary" ng-click="parseDBSQL();">解析SQL</md-button>
				<md-button class="md-raised md-primary" ng-click="importDataTable();">导入</md-button>
			</div>
			
			<div layout="row" layout-padding layout-wrap style="padding-bottom: 3px;" ng-cloak>
				<div ng-repeat="item in dataTableList"
					flex-xs="100" flex-gt-xs="100" flex-sm="50" flex-gt-sm="33" flex-md="33" flex-gt-md="25" layout-lg="25" flex-gt-lg="25" layout layout-align="center center">
					<div class="md-whiteframe-8dp" flex>
						<div style="padding: 5px 5px 5px 15px;">
							<h2 style="margin-bottom: 5px;margin-top: 5px;" class="md-title"><i class="fa fa-database"></i>&nbsp;{{item.name}}</h2>
							<p style="margin-bottom: 5px;">{{item.remark}}</p>
						</div>
						<md-divider></md-divider>
						<div layout="row" layout-align="end center">
					        <md-button class="md-icon-button" ng-click="editDataTable(item.id);">
					        	<md-tooltip md-direction="bottom">编辑</md-tooltip>
					        	<md-icon class="material-icons">edit</md-icon>
					        </md-button>
					        <md-button class="md-icon-button" ng-click="deleteDataTable(item);">
					        	<md-tooltip md-direction="bottom">删除</md-tooltip>
					        	<md-icon class="material-icons">delete</md-icon>
					        </md-button>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</div>
  
	<div class="md-whiteframe-6dp" style="margin: 10px;">
		<md-toolbar style="background-color:#fafafa;color:#222;border-bottom: 1px rgba(0,0,0,.12) solid;">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<span>功能模块</span>
				<md-button class="md-icon-button" aria-label="Settings" ng-click="hideModule = !hideModule">
					<md-icon class="material-icons" style="color:#222;">{{ hideModule ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content flex ng-show="!hideModule">
			<md-button class="md-raised md-primary" ng-click="editModule()">新建模块</md-button>
			
			<fieldset style="border: 1px rgba(0,0,0,.3) solid;" layout-padding ng-repeat="(groupName, groupModules) in moduleMap" >
				<legend>{{groupName}}</legend>
				<div layout="row" layout-padding layout-wrap style="padding-bottom: 3px;" ng-cloak>
					<div ng-repeat="item in groupModules"
						flex-xs="100" flex-gt-xs="100" flex-sm="50" flex-gt-sm="33" flex-md="33" flex-gt-md="25" layout-lg="25" flex-gt-lg="25" layout layout-align="center center">
						<div class="md-whiteframe-8dp" flex>
							<div style="padding: 5px 5px 5px 15px;">
								<h2 style="margin-bottom: 5px;margin-top: 5px;" class="md-title"><i class="material-icons">cloud_circle</i>&nbsp;{{item.nameEN}}</h2>
								<p style="margin-bottom: 5px;" >{{item.name}}</p>
							</div>
							<md-divider></md-divider>
							<div layout="row" layout-align="end center">
						        <md-button class="md-icon-button" ng-click="editModule(item.id);">
						        	<md-tooltip md-direction="bottom">编辑</md-tooltip>
						        	<md-icon class="material-icons">edit</md-icon>
						        </md-button>
						        <md-button class="md-icon-button" ng-click="deleteModule(item);">
						        	<md-tooltip md-direction="bottom">删除</md-tooltip>
						        	<md-icon class="material-icons">delete</md-icon>
						        </md-button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div layout="row" layout-padding layout-wrap style="padding-bottom: 3px;" ng-cloak>
				<div ng-repeat="item in muduleNoGroupList"
					flex-xs="100" flex-gt-xs="100" flex-sm="50" flex-gt-sm="33" flex-md="33" flex-gt-md="25" layout-lg="25" flex-gt-lg="25" layout layout-align="center center">
					<div class="md-whiteframe-8dp" flex>
						<div style="padding: 5px 5px 5px 15px;">
							<h2 style="margin-bottom: 5px;margin-top: 5px;" class="md-title"><i class="material-icons">cloud_circle</i>&nbsp;{{item.nameEN}}</h2>
							<p style="margin-bottom: 5px;" >{{item.name}}</p>
						</div>
						<md-divider></md-divider>
						<div layout="row" layout-align="end center">
					        <md-button class="md-icon-button" ng-click="editModule(item.id);">
					        	<md-tooltip md-direction="bottom">编辑</md-tooltip>
					        	<md-icon class="material-icons">edit</md-icon>
					        </md-button>
					        <md-button class="md-icon-button" ng-click="deleteModule(item);">
					        	<md-tooltip md-direction="bottom">删除</md-tooltip>
					        	<md-icon class="material-icons">delete</md-icon>
					        </md-button>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</div>
</div>
</div>