<div cg-busy="{promise:promise,templateUrl:'',message:'正在加载...',backdrop:true,delay:0,minDuration:0}">
<div class="md-whiteframe-8dp" flex>
	<div class="md-toolbar-tools">
		<h2 ng-show="project.id != null">编辑项目</h2>
		<h2 ng-show="project.id == null">新建项目</h2>
	</div>
	<md-content layout-padding class="autoScroll">
		<form role="form" novalidate name="myForm">
		<md-input-container class="md-block">
	        <label>项目名称</label>
	        <input type="text" name="name" ng-model="project.name" placeholder="英文项目名" required ng-pattern="/^[a-zA-Z_]*$/">
	        <div ng-messages="myForm.name.$error" role="alert" multiple md-auto-hide="false">
	        	<div ng-message="required">该项必填</div>
	        	<div ng-message="pattern">只能输入英文</div>
	        </div>
		</md-input-container>
		<md-input-container class="md-block">
	        <label>项目说明</label>
	        <input type="text" required name="remark" ng-model="project.remark">
	        <div ng-messages="myForm.remark.$error" role="alert" md-auto-hide="false">
	        	<div ng-message="required">该项必填</div>
	        </div>
		</md-input-container>
		<!-- <md-input-container class="md-block">
			<label>项目类型</label>
	        <input readonly="readonly" value="spring MVC">
		</md-input-container> -->
		
		<label>界面类型</label>
		<div layout layout-xs="column" layout-padding>
			<md-card style="margin: 10px;" ng-repeat="item in looklikes" ng-style="getLooklikeStyle(item)">
			    <md-card-content style="padding:0px;" ng-click="project.lookLike=item.id" ng-dblclick="showLargeImg(item)">
					<img alt="" ng-src="{{item.thum}}" style="width: 150px;height:150px;">
					<md-tooltip md-direction="right">双击查看大图</md-tooltip>
			    </md-card-content>
			    <md-card-actions layout="row" layout-align="center center">
			    	<md-button ng-click="project.lookLike=item.id">{{item.name}}</md-button>
			    </md-card-actions>
			</md-card>
		</div>
		
	    <div layout layout-xs="column">
	    	<md-input-container flex>
		        <label>基础包名(maven groupId)</label>
		        <input type="text" required name="groupId" ng-model="project.groupId" ng-pattern="/^[.a-zA-Z]*$/">
		        <div ng-messages="myForm.groupId.$error" role="alert" multiple md-auto-hide="false">
		        	<div ng-message="required">该项必填</div>
		        	<div ng-message="pattern">只能输入[英文 . ]</div>
		        </div>
			</md-input-container>
			<md-input-container flex>
		        <label>包名(maven artifactId)</label>
		        <input type="text" required name="artifactId" ng-model="project.artifactId" ng-pattern="/^[a-zA-Z]*$/">
		        <div ng-messages="myForm.artifactId.$error" role="alert" multiple md-auto-hide="false">
		        	<div ng-message="required">该项必填</div>
		        	<div ng-message="pattern">只能输入英文</div>
		        </div>
			</md-input-container>
	    </div>
	    <div layout layout-xs="column" ng-show="project.groupId != null || project.artifactId != null">
	    	<md-input-container flex>
	          <label>Base Package</label>
	          <input readonly="readonly" value="{{project.groupId + '.' + project.artifactId}}">
	        </md-input-container>
			<md-input-container flex>
	          <label>Controller Package</label>
	          <input readonly="readonly" value="{{project.groupId + '.' + project.artifactId + '.controller'}}">
	        </md-input-container>
	    </div>
        <div layout layout-xs="column" ng-show="project.groupId != null || project.artifactId != null">
	        <md-input-container flex>
	          <label>Dao Package</label>
	          <input readonly="readonly" value="{{project.groupId + '.' + project.artifactId + '.dao'}}">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Service Package</label>
	          <input readonly="readonly" value="{{project.groupId + '.' + project.artifactId + '.services'}}">
	        </md-input-container>
        </div>
        <div layout layout-xs="column">
			<md-input-container flex>
	          <label>DAO类型</label>
	          <input readonly="readonly" value="MyBatis">
	        </md-input-container>
	        <md-input-container flex>
	          <label>数据库类型</label>
	          <input readonly="readonly" value="Mysql5.6+">
	        </md-input-container>
		</div>
       
        <div layout layout-align="center">
		    <md-button class="md-primary md-raised" ng-disabled="myForm.$invalid" ng-click="save();">保存</md-button>
		    <md-button class="md-default md-raised" ng-click="cancel();">取消</md-button>
		</div>
	    </form>
	</md-content>
</div>
</div>
