<md-content layout="column" cg-busy="{promise:promise,templateUrl:'',message:'正在操作...',backdrop:true,delay:0,minDuration:0}" style="background-color: transparent;">
<md-toolbar class="notebook_toolbar md-default" ng-hide="filter.show" >
    <div class="md-toolbar-tools">
		<md-menu md-position-mode="target-left target" md-offset="0 50">
			<md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">新建</md-button>
			<md-menu-content width="3" >
		    	<md-menu-item>
		    		<md-button ng-click="newNote($event);">
		    			<div>
		    				<md-icon style="margin: auto 3px auto 0;" class="material-icons">note</md-icon><p flex>笔记</p>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
		    	<md-menu-item>
		    		<md-button ng-click="uploadNote($event);">
		    			<div>
		    				<md-icon style="margin: auto 3px auto 0;" class="material-icons">file_upload</md-icon><p flex>上传笔记</p>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
		    	<md-divider></md-divider>
		    	<md-menu-item>
		    		<md-button ng-click="newFolder();">
		    			<div>
			               <md-icon style="margin: auto 3px auto 0;" class="material-icons">create_new_folder</md-icon><p flex>文件夹</p>
		            	</div>
		    		</md-button>
		    	</md-menu-item>
			</md-menu-content>
		</md-menu>
		<span ng-repeat-start="item in folderPath track by $index" class="notebook_folder_path">
			<a ng-click="toFolder(item.idCode)" >{{item.name}}</a>
		</span>
		<div ng-repeat-end ng-if="!$last" style="margin-top: 6px;">
			<svg class="a-s-fa-Ha-pa" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 24 24" focusable="false" fill="#333"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg>
		</div>
    	<span flex></span>
    	<md-button ng-show="selectedItem != null" class="md-icon-button" aria-label="Favorite" ng-click="toEdit($event)">
			<md-icon class="material-icons">edit</md-icon>
			<md-tooltip md-direction="bottom">编辑</md-tooltip>
		</md-button>
		<md-button ng-show="selectedItem != null" class="md-icon-button" aria-label="Favorite" ng-click="del($event)">
			<md-icon class="material-icons">delete</md-icon>
			<md-tooltip md-direction="bottom">删除</md-tooltip>
		</md-button>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="toggleView($event)">
			<md-icon class="material-icons">{{viewType}}</md-icon>
			<md-tooltip md-direction="bottom">{{viewTypeTip}}</md-tooltip>
		</md-button>
		
    	<!-- <md-button class="md-icon-button" aria-label="Settings" ng-click="filter.show=true">
			<md-tooltip md-direction="bottom">查询</md-tooltip>
			<md-icon class="material-icons">search</md-icon>
		</md-button> -->
    </div>
</md-toolbar>
<md-toolbar class="ac-table-toolbar md-default" ng-show="filter.show">
	<div class="md-toolbar-tools">
		<md-input-container flex md-no-float class="md-block">
			<input ng-model="searchForm.title" placeholder="输入标题，按回车执行模糊搜索" ng-keypress="($event.which === 13)?search():0">
		</md-input-container>
		<md-button class="md-icon-button" aria-label="Settings" ng-click="clearSearch();">
			<md-icon class="material-icons">clear</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content ng-switch on="viewType" style="padding:5px;background-color:transparent">
	<div ng-switch-when="view_list">
		<div class="notebook_cat" ng-show="folders.length > 0">文件夹</div>
		<div layout="row" layout-padding layout-wrap>
			<div ng-repeat="item in folders" >
				<div class="md-whiteframe-1dp notebook_folder" layout="row" layout-align="left center" ng-class="{'selected':isSelectedItem(item, 'folder')}" ng-click="selectItem(item, $event)" ng-dblclick="openFolder($event)">
					<i class="material-icons folder_icon">folder</i><span>{{item.name}}</span>
				</div>
				<md-tooltip md-direction="bottom">双击进入文件夹</md-tooltip>
			</div>
		</div>
		
		<div class="notebook_cat" ng-show="notes.length > 0">文件</div>
		<div layout="row" layout-padding layout-wrap>
			<div ng-repeat="item in notes" class="notebook_out" ng-click="selectItem(item, $event)" ng-dblclick="toEdit($event)">
				<div class="notebook_note" ng-class="{'selected':isSelectedItem(item, 'file')}">
					<div class="md-whiteframe-1dp note_content">
						<pre class="prettyprint">{{item.content}}</pre>
					</div>
					<div class="note_name" layout="row" layout-align="left center">
						<i class="material-icons note_icon">note</i><span class="notebook_noteTitle">{{item.title}}</span>
					</div>
				</div>
				<md-tooltip md-direction="bottom">双击打开文件</md-tooltip>
			</div>
		</div>
	</div>
	
	<md-list ng-switch-when="view_module" flex style="background-color: #FFF;">
        <md-list-item class="noteListItem" ng-repeat="item in folders" ng-click="selectItem(item, $event)" ng-dblclick="openFolder($event);" ng-class="{'selected':isSelectedItem(item, 'folder')}">
			<md-icon class="material-icons folderIcon">folder</md-icon>
			<p> {{ item.name }} </p>
			<md-divider></md-divider>
		</md-list-item>
		<md-list-item class="noteListItem" ng-repeat="item in notes" ng-click="selectItem(item, $event)" ng-dblclick="toEdit($event);" ng-class="{'selected':isSelectedItem(item, 'file')}">
			<md-icon class="material-icons fileIcon">note</md-icon>
			<p> {{ item.title }} </p>
			<md-divider></md-divider>
		</md-list-item>
    </md-list>
</md-content>
</md-content>
