
/* ----------------data table----------------start------ */
md-toolbar.ac-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,md-toolbar.ac-table-toolbar:not(.md-menu-toolbar).md-default {
    background-color: #fafafa;
    color: rgba(0,0,0,.87)
}
md-toolbar.ac-table-toolbar.ng-hide {
    display: none;
}
md-toolbar.ac-table-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar.ac-table-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(0,0,0,.87);
    fill: rgb(255,255,255);
}
md-toolbar.ac-table-toolbar.alternate .md-toolbar-tools {
    color: #1e88e5;
    font-size: 16px;
    background-color: #e3f2fd;
}

.ac-table-toolbar md-input-container .md-errors-spacer {
	min-height: 0px;
	height: 0px;
}

.actable {
  margin: 0 0 0px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  background: #fff;
}
@media screen and (max-width: 580px) {
  .actable {
    display: block;
  }
}

.actable .row {
	opacity: 1;
	display: table-row;
	height: 48px;
	transition: background-color .2s;
}

.actable .row:focus{
	outline: none;
    border: 0;
}
.actable .row:hover {
    background-color: #eee!important;
}
.actable .row.ng-enter {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
}
.actable .row.ng-leave {
	display: none;
}

.actable .row.ng-enter-active {
    opacity: 1;
}

.actable .row:nth-of-type(odd) {
  /* background: #e9e9e9; */
}
.actable .row.header {
  font-weight: 900;
  background: #ea6153;
}
.actable .row.green {
  background: #27ae60;
}
.actable .row.blue {
  background: #2980b9;
}
.actable .row.grey {
  background: #eceff1;
}
@media screen and (max-width: 580px) {
	/* .actable .row.header {
		display: none;
	} */
	.actable .row {
		padding: 8px;
		margin: 8px;
		display: block;
		height: auto;
		border: 1px rgba(0,0,0,.2) solid;
	}
}
.actable .cell {
  min-width: 80px;
  vertical-align: middle;
  padding: 6px 12px;
  display: table-cell;
  color: rgba(0,0,0,.87);
  border-top: 1px rgba(0,0,0,.12) solid;
}
.actable .cell:focus{
	outline: none;
}

.actable .cell.sort {
	cursor: pointer;
}
.actable .cell.sort i {
	font-size: 18px;
}
.actable .cell.sort:focus{
	outline: none;
}

.actable .cell.sort .sort-toggle-icon {
	margin-left:3px;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.actable .cell.sort .sort-toggle-icon.desc {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.actable .cell.sort .sort-toggle-icon.asc {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.sort-toggle-icon.none {
	display: none;
}
.sort-toggle-icon.none:HOVER {
	display: initial;
	opacity: .5;
}

.actable .cell.checkbox {
	width: 20px;
	min-width: 20px;
	padding: 0 0 0 24px;
}

.actable .cell.checkbox md-checkbox{
	margin-bottom: auto;
}

@media screen and (max-width: 580px) {
  .actable .cell {
    padding: 4px 12px;
    display: block;
    height: 48px;
    border-top: 0px rgba(0,0,0,.12) solid;
  }
}
/* ----------------data table----------------end------ */