<md-dialog aria-label="编辑用户">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	      <h2>{{title}}</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="cancel()">
			<i class="material-icons">close</i>
	      </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content layout-padding>
	<div cg-busy="{promise:promise,templateUrl:'',message:'正在提交...',backdrop:true,delay:0,minDuration:0}">
	<form class="form-horizontal" role="form" novalidate name="myForm">
		<md-input-container class="md-block">
	        <label>名称</label>
	        <input type="text" required ng-model="editForm.name">
		</md-input-container>
	</form>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout layout-align="center">
    	<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="myForm.$invalid">保存</md-button>
		<md-button class="md-raised md-default" ng-click="cancel()">取消</md-button>
    </md-dialog-actions>
</md-dialog>